{% extends 'core/_base.html' %}

{% load i18n static widget_tweaks %}

{% block content %}
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <h4 class="center-align">{% trans 'Add a new Business' %}</h4>
      </div>
  </div>
  <form method="post">
    <div class="row">
      {% for field in form.visible_fields %}
      <div class="col s6">
        <div class="input-field">
          {% render_field field placeholder=field.label %} {{ field.label_tag }}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col s12">
        <div class="input-field center-align">
          <input type="submit" value="{% trans 'Add Business' %}" class="waves-effect waves-light btn green">
        </div>
      </div>
    </div>
    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}
    {% csrf_token %}
  </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $('select').not('.disabled').material_select();
  });
</script>
{% endblock %}
