{% extends 'core/_base.html' %}

{% load static %}

{% block extra_css %}
<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .brand-logo {
    margin-left: 20px;
  }
  #map, .main-content, .map-wrapper {
    height: 100%;
  }
  .left-panel {
    padding-top: 20px !important;
  }
</style>
{% endblock %}

{% block content %}
<div class="col s2 left-panel">

  <div class="collection">
    <a href="#!" class="collection-item">Trading</a>
    <a href="#!" class="collection-item active">Service</a>
  </div>

  <div class="collection">
  {% for segment in segments %}
    <a href="#!" class="collection-item">{{ segment.name }}</a>
  {% endfor %}
  </div>

</div>
<div class="col s10 map-wrapper">
  <div id="map"></div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="{% static "js/mycomm_map_config.js" %}"></script>
  <script src="{% static "js/mycomm_map.js" %}"></script>
  <script>
    initMap();
  </script>
{% endblock %}
