{% extends 'core/_base.html' %}

{% block extra_css %}
<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .brand-logo {
    margin-left: 20px;
  }
  #map, .main-content, .map-wrapper {
    height: 100%;
  }
  .left-panel {
    padding-top: 20px !important;
  }
</style>
{% endblock %}

{% block content %}
<div class="col s2 left-panel">

  <div class="collection">
    <a href="#!" class="collection-item">Trading</a>
    <a href="#!" class="collection-item active">Service</a>
  </div>

  <div class="collection">
  {% for segment in segments %}
    <a href="#!" class="collection-item">{{ segment.name }}</a>
  {% endfor %}
  </div>

</div>
<div class="col s10 map-wrapper">
  <div id="map"></div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  $(document).ready(function() {
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -23.5, lng: -47.5},
        zoom: 13
      });
      $.ajax('api/business/', {
        success: function(data) {
          console.log(data);
          $.each(data.objects, function(idx, business) {
            var point = new google.maps.LatLng(business.latitude, business.longitude);
            var marker = new google.maps.Marker({
                position: point,
                title: business.name,
                map: map,
            });
            console.log(business);
          });
        }
      });
    }
    initMap();
  });
</script>
{% endblock %}
