{% extends 'core/_base.html' %}

{% load i18n static %}

{% block content %}
<div class="col s2 left-panel">
  <div class="collection">
    <a href="#!" class="collection-item">{% trans 'Trading' %}</a>
    <a href="#!" class="collection-item active">{% trans 'Service' %}</a>
  </div>

  <div class="collection">
  {% for segment in segments %}
    <a href="#!" class="collection-item">{{ segment.name }}</a>
  {% endfor %}
  </div>
</div>

<div class="col s10 map-wrapper">
  <div id="map"></div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="{% static "js/mycomm_map_config.js" %}"></script>
  <script src="{% static "js/mycomm_map.js" %}"></script>
  <script>
    initMap();
  </script>
{% endblock %}
